*{
    margin: 0px;
    padding: 0px;
    font-family: arial;
    color: white;
    border:box;
}
.navbar{
    height: 80px;
    background-color: rgb(25, 24, 24);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position:fixed;
    z-index: 1;
    top: 0px;
    width: 100%;

}
.nav_logo{
    display: inline-block;
    margin-right: 250px;
}
a{
    text-decoration: none;
}
a:hover{
    color: rgb(107, 107, 235);
}

/* main */


.back_image{
    height: 900px;
    width: 100%;
    background-image: url(welcome-banner.jpg);
    background-size: cover;
    display: flex;
    display: inline-block;
    
   
}
.back_content{
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 220px;
    color: white;

}
.main_heading{
    font-weight: 800;
    font-family: arial;
    font-size:2.5rem;
    color: white;
      
}
#image_text{
    color: white;
}
p{
    font-size: 1.25rem;
    margin-top: 50px;
    color: rgb(104, 103, 103);
    
}
.contact{
    height: 60px;
    width: 230px; 
    background-color:rgb(107, 107, 235);
    color: white;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    margin-left: 650px;
    margin-top: 60px;
    border-radius: 3px;
}
.contact:hover{
    background-color: rgb(28, 28, 161);   
}

/* search_box section */

.search_box {
    height: 320px;
    width: 80%;
    background-color:white;
    box-shadow:0 10px 40px 0px rgba(38,40,64,.2);
    border-radius: 3px;
    position: relative;
    left: 10%;
    bottom:160px;
    display:flex; 
    justify-content: center;
    align-items: center;
    z-index: 0;
     
}
.box1{
    height: 80%;
    width:80%;
    background-color: white;
    margin: 40px 50px 40px 75px;
    display: flex;
    justify-content: center;
    justify-content: space-between;
}
.selector{
    height: 100%;
    width: 200px;
    color: black;
   
    
}

.option{
    height: 60px;
    width: 200px;
    border-color:rgb(229, 235, 235) ;
    color: rgb(104, 103, 103);
    background-color: rgb(229, 235, 235);
    font-size: 1rem;
    margin: 25px 0px 40px 0px;
}

option{
    color: black; 
}

.box2{
    height: 18%;
    width:15%;
    color: white;
    background-color: rgb(115, 107, 227);
    margin: 40px 80px 40px 0px;
    border-radius: 3px;
    display:flex; 
    justify-content: center;
    align-items: center;
}
.box2:hover{
    background-color: rgb(192, 23, 46);
    
}

/* Car_type */

.Car_type{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:transparent;
}

.Car_type_chield{
    height: 350px;
    width: 360px;
    color: rgb(102, 100, 100);
    background-color: white;
    margin-left: 50px;
    margin-bottom: 150px;
    position: relative;
    right: 20px;
    border: 0.25px solid rgb(187, 173, 173);
    border-radius: 3px;
    text-align: center;
    line-height: 2; 
}

.Car_type_chield:hover{
    background-color: rgba(103, 78, 215, 0.673);
    color: white;    
}

.Car_logo{
    height: 100px;
    width: 100px;
    margin: 50px 50px 0px 140px;
    background-size: cover;
    display: flex;
    background-size: cover;
    
}

big{
    color: blue;
    margin-bottom: 50px;
}

#c_logo1{
    position: relative;
    right: 30px;
    border-radius: 5px;

}

/* Newest_cars */

.Newest_cars{
    height: 800px;
    width: 100%;
    background-color: #f8f8f8;
    color: black;
    text-align: center;
    line-height: 2;
    padding-top: 100px ;
}
h1{
    color: rgb(117, 116, 116);
    font-size: 2.5rem;
}

.Newest_cars_chield{
    height: 450px;
    width: 80%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    margin:50px 50px 50px 50px;
    align-items: center;
    margin-left: 150px;
    
}
.Newest_cars_chield_chield{
    height: 100%;
    width: 42%;
    background-color:transparent;
    display: flex;
}

#chield1{
    height:450px ;
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#chield2{
    height:450px ;
    width: 45%;
    display: flex;
    display: inline-block;
    
}
#heading{
    position:relative;
    right: 60px;
}
button{
    height: 60px;
    width: 170px;
    font-size: 1rem;
    border: 0px;
    border-radius: 3px;
    background-color:rgb(93, 2, 249) ;
    position:relative;
    right: 180px;
    bottom: 30px;
    
}
button:hover{
    background-color: rgb(30, 30, 254);
    color: white;
}
#text1{
    position: relative;
    bottom: 50px;
    text-align: left;
    color:rgb(117, 116, 116) ;
    line-height: 1.5;
}

/* Featured_Cars */

.Featured_Cars{
    height: 1200px;
    width: 1497px;
    text-align: center;
    margin-top: 120px;
}

.Featured_Cars1{
    height: 850px;
    width: 1120px;
    margin-left: 170px;
    margin-top: 150px;
    color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
       
}

#bottom{
 margin-top: 22px;
}

.boxes{
    display: inline-block;
    justify-content: center;
}
pre{
    margin-top: 10px;
    margin-left: 10px;
    line-height: 1.5;
    font-size: 0.85rem;
    text-align: left;
    color: rgb(117, 116, 116);
    display: inline-block;
    position: relative;
    right: 20px;
    
}

.Featured_Cars11{
    height:383px;
    width: 250px;
    display: inline-block;
    
}

.Featured_Cars111{
    height: 230px;
    width: 250px;
    border: 0.5px solid  rgb(214, 212, 212);
}

.Featured_Cars1111{
    height: 161px;
    width: 250px;
    
    
}


img{
    margin-top: 25px;
}
#details{
    display: flex;
    position: relative;
    color: rgba(0, 0, 0, 0.746);
    line-height: 2;
}
#Price{
    display: flex;
    position: relative;
    bottom: 50px;
    font-size: 0.9rem;
    color: rgba(0, 0, 0, 0.746); 
    line-height: 2;   
}
#about{
    
    position: relative;
    bottom: 50px;
    right: 10px;
    
    
}
/* users */

.Clients{
    height: 700px;
    width: 1497px;
    text-align: center;
    background-color: #f8f8f8;
    padding-top: 130px;

}
#client_div{
    position: relative;
    top: 130px;
}

/* car_titles */

.car_titles{
   
    width: 1497px;
    
}
.titles{
    height: 350px;
    width: 1097px;
    margin-left: 200px;
    display: flex; 
    justify-content: center;
    align-items: center;
    justify-content: space-between;

}

/* footer */

.footer{
    height:540px;
    width: 1497px;
    background-color: #2a2d54;
    display: flex;
    
}
.footer1{
    height:440px;
    width: 1150px;
    margin: 98px 0px 0px 180px; 

}
.footer11{
    height:370px;
    width: 1150px;
    display: flex;
    justify-content: space-between;
}
.footer12{
    height:70px;
    width: 1150px;
}
.footer112{
    height:300px;
    width: 180px;    
}

.footer111{
    height:300px;
    width: 250px;
    line-height: 1.8;
    
}
.footer112{
    height:300px;
    width: 250px;
    
    
}
.footer113{
    height:300px;
    width: 250px;
    
}
.footer114{
    height:300px;
    width: 250px;
    
}
#foot_div{
    height:300px;
    width: 250px;
    color:rgb(187, 185, 185) ;
    
      
}
h3{
    margin-top: 15px;
    margin-bottom: 12px;
    font-weight: 100;
}
.p{
    position: relative;
    right: 135px;
    line-height: 2;
    font-size: 1rem;
    color: rgb(187, 185, 185);
}
#email{
    height:40px;
    width: 285px;
    border-radius: 25px;
    border-width: 0px;
    background-color: rgb(60, 8, 249);
    color: white;
}
::placeholder{
    color: rgb(162, 159, 159);
    position: relative;
    left: 20px;
}


    

